<div class="header">
    This is header
    <button >Add New Note</button>
    <img src="assets/img/delete.png" />
</div>
<div class="body">
  <div class="notes-titles">
      This is  Notes Side bar
      <div class="row note-item" (click)="noteItemClick(note,i)" *ngFor="let note of notes;let i=index">
           <span>{{note.name}}</span>
           <span>{{note.edited}}</span>
           <span>{{note.content}}</span>
      </div>
  </div>
  <div class="note-body">
      <span class="note-name" contenteditable="true" >{{currentNote.name}}</span>
      <p contenteditable="true">
        {{ currentNote.content}}
      </p>
  </div>
</div>