.header {
  background-color: lightgrey;
}
.header .fa {
  font-size: 18px;
  color: silver;
  border-radius: 3px;
  background-color: #fcfcfc;
  cursor: pointer;
}
.header .fa::before {
  vertical-align: middle;
}
.header .fa:hover {
  color: grey;
}
.header .search {
  width: auto;
  border-radius: 5px;
  height: 30px;
  background-color: #fcfcfc;
  color: grey;
}
.app-body {
  margin-right: 0px;
  height: calc(100vh - 60px);
}
.app-body .slimscroll::-webkit-scrollbar {
  width: 8px;
}
.app-body .slimscroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.app-body .slimscroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.app-body .note-titles {
  height: 100%;
  overflow-y: scroll;
}
.app-body .note-titles .note-item {
  cursor: pointer;
  border-bottom: 1px solid silver;
}
.app-body .note-titles .note-item .note-time {
  font-size: 12px;
}
.app-body .note-titles .note-item .note-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  overflow: hidden;
}
.app-body .note-body {
  width: 100%;
  border-left: 1px solid silver;
  background-color: whitesmoke;
}
.app-body .note-body .note-name {
  font-size: 25px;
  border: none;
  background: whitesmoke;
  border-bottom: 1px solid silver;
}
.app-body .note-body .note-name:focus {
  outline: none !important;
}
.app-body .note-body .note-time {
  font-size: 12px;
}
.app-body .note-body .note-content {
  background-color: whitesmoke;
  border: none;
  width: 100%;
  height: 89%;
}
.app-body .note-body .note-content:focus {
  outline: none !important;
}
